<h1><%= @ingredient.name %>

<% if @ingredient.flavors.any? %>
	<h3 id="component_usage">
		<%= @ingredient.name.capitalize %> is used in the following flavors
	</h3>
	<% @ingredient.flavors.each do |flavor| %>
		<%= div_for(flavor) do %>
			<%= link_to flavor.name, flavor_path(flavor) %>
		<% end %>
	<% end %>
<% end %>
